/* hero */
.hero {
  background-image: url(./Images/clean-apartment.jpg);
  /* background-image:  url(../../../assets/bilder/clean-apartment.jpg); */
  background-size: cover;
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
@media (max-width: 1024px) {
  .hero {
    height: 80%;
  }
}
/* section1, section2, section3 */
.rubrik {
  font-size: 2rem;
  margin-top: 5rem;
}
.underrubrik {
  font-size: 1.5rem;
}
.text {
  font-size: 1.4rem;
  text-align: center;
  width: 800px;
  margin-bottom: 4rem;
  line-height: 2.5rem;
}
/* section1 */
/* ska försöka ersätta dessa med mer sx-styling */
.tjanster {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.tjanster-rubrik {
  padding: 1rem;
}
.box-tjanster {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

@media (max-width: 1024px) {
}
.section1,
.section3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f4f2;
  padding-bottom: 4rem;
}
/* Section2 */
.section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c4d0c7;
  padding-bottom: 4rem;
}
.cirklarna {
  margin-top: -2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.cirkel1,
.cirkel2,
.cirkel3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
}

.cirkel {
  background-color: #dde6e0;
  border-radius: 50%;
  width: 190px;
  height: 190px;
  margin-bottom: 5px;
  margin: 3rem;
}

.cirkel-img {
  width: 40px;
  height: 40px;
  margin: 75px;
}
.cirkel-text {
  font-size: 1.1rem;
  text-align: center;
  width: 300px;
  line-height: 1.7rem;
}

@media (max-width: 1024px) {
  .cirklarna {
    margin-top: -3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}

/* Footer */
.footer {
  background-color: #a09d99;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  height: 180px;
}
a {
  font-size: 0.9rem;
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h6 {
  font-size: 1rem;
  color: black;
  text-decoration: underline;
}

.text-footer {
  display: flex;
  flex-direction: column;
}
.bilder-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 1024px) {
  .bilder-footer img {
    display: flex;
    flex-direction: column;
  }
}
/* mina sidor */
.my-pages {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
