/* hero */
.hero {
  background-image: url(./Images/clean-apartment.jpg);
  /* background-image:  url(../../../assets/bilder/clean-apartment.jpg); */
  /* background-image: image-set(src= "./Images/clean-apartment.jpg"); */
  background-size: cover;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  /* display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: row; */
}

/* @media (max-width: 1024px) {
  .hero {
    height: 80%;
  }
} */
/* section1, section2, section3 */
.rubrik {
  font-size: 2rem;
  margin-top: 5rem;
}
.underrubrik {
  font-size: 1.5rem;
}
.text {
  font-size: 1.4rem;
  text-align: center;
  width: 800px;
  margin-bottom: 4rem;
  line-height: 2.5rem;
}

.section1,
.section3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f4f2;
  padding-bottom: 4rem;
}

/* Section2 */
.section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c4d0c7;
  padding-bottom: 4rem;
}
.cirklarna {
  margin-top: -2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.cirkel1,
.cirkel2,
.cirkel3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
}

.cirkel {
  background-color: #dde6e0;
  border-radius: 50%;
  width: 190px;
  height: 190px;
  margin-bottom: 5px;
  margin: 3rem;
}

.cirkel-img {
  width: 40px;
  height: 40px;
  margin: 75px;
}
.cirkel-text {
  font-size: 1.1rem;
  text-align: center;
  width: 300px;
  line-height: 1.7rem;
}

/* @media (max-width: 1024px) {
  .cirklarna {
    margin-top: -3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
} */

/* mina sidor */
.my-pages {
  /* margin-top: 6rem; */
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 3rem;
}
/* form log-in */
/* .form-container {
  background-color: white;
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
} 
input,
button {
  height: 45px;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: 2px solid rgb(232, 229, 229);
  font-size: 1rem;
} */

/* .switch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} */
/* 
.log-in {
  background-color: #95b995;
} */

/* * {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
} */

* {
  font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */
.link-class {
  width: 200px;
  margin: auto;
  text-align: center;
  margin: 0.8rem;
  font-size: 1.1rem;
  text-decoration: none;
  color: black;
}
.link-class:hover {
  opacity: 0.5;
}
.link-logga {
  width: 200px;
  margin: auto;
  text-align: center;
  margin: 0.8rem;
  font-size: 1.8rem;
  text-decoration: none;
  color: black;
}

/* Form*/
form {
  /* position: absolute;
  top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  color: black;
  width: 400px;
  padding: 5rem;
}

input,
select {
  height: 45px;
  margin-bottom: 1rem;
  border-radius: 4px;
  /* border: 2px solid rgb(232, 229, 229); */
  font-size: 1rem;
  background-color: rgba(000000, 0, 0, 0.8);
  color: white;
}

.box {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.button-form {
  background-color: #95b995;
  color: white;
  padding: 0.8rem;
  border: 2px solid rgb(232, 229, 229);
}
